<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="../output/greedy-backtracking-output.js"></script> -->

        <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
        <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
        <script src="https://cytoscape.org/cytoscape.js-dagre/cytoscape-dagre.js"></script>
        <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />  
        
        <!-- Vuetify -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link href="./styles.css" rel="stylesheet">
        <script src="./graph-viz.js"></script>        


    </head>
    <body>
        <div id="app">
            <v-app>
                <v-navigation-drawer app v-bind:width="400">
                    <div class="left-menu">
                        <v-container>
                            <v-card
                            elevation="2"
                            >
                                <v-card-title>Info</v-card-title>
                                <v-card-text>
                                    <div>
                                        Arquivo: <strong>"{{graphFileName}}"</strong>
                                    </div>
                                    <div>
                                        Tipo: <strong>{{algorithmType}}</strong>
                                    </div>
                                    <div>                                        
                                        Número de Vértices: <strong>{{nVertices}}</strong>
                                    </div>
                                    <div>    
                                        Número de Arestas: <strong>{{nArestas}}</strong>
                                    </div>
                                    <div>
                                        Grau Máximo: <strong>{{grauMaximo}}</strong>
                                    </div>
                                    <div>    
                                        Grau Mínimo: <strong>{{grauMinimo}}</strong>
                                    </div>                                    
                                    <div>    
                                        Densidade (grafo simples): <strong>{{(nArestas / (nVertices * (nVertices - 1))).toFixed(4)}}</strong>
                                    </div>                                    
                                </v-card-text>         
                            </v-card>
                        </v-container>

                        <v-container>
                            <v-card
                            elevation="2"
                            >
                                <v-card-title>Lista de Adjacências: <v-checkbox v-model="showAdjacencyList"> </v-checkbox></v-card-title>
                                <v-card-text v-if="showAdjacencyList">
                                    <div v-for="(item, index) in adjList">
                                        {{index}} : {{item}}
                                    </div>
                                </v-card-text>         
                            </v-card>
                        </v-container>

                        <v-container>                    
                            <v-card
                            elevation="2"
                            >
                            <v-card-title>Número Cromático: {{numeroCromatico}}</v-card-title>   
                            </v-card>     
                        </v-container>   

                        <v-container>                    
                            <v-card
                            elevation="2"
                            >
                            <v-card-title>Colorações Encontradas</v-card-title>
                            <v-card-text>
                                    <div v-for="(coloracao, index) in coloracoesOtimas" class="step" v-on:click="applyAction(getStep(coloracao))">
                                    {{coloracao}} ({{numerosCromaticos[index]}} cores<strong v-if="isOptimal(coloracao)">, ótima</strong>)
                                    </div>
                                </v-card-text>         
                            </v-card>     
                        </v-container>                           

                    <v-container>                    
                        <v-card
                        elevation="2"
                        >
                            <v-card-title>Renderizar Backtracking: <v-checkbox v-model="renderBacktracking"> </v-checkbox></v-card-title>   
                            <v-card-text>
                            <div v-if="renderBacktracking">
                                <v-checkbox v-bind:disabled="timer !== 0" v-model="backtrackingWithRequestAnimationFrame" label="Layout assíncrono"> </v-checkbox> 
                                <span></span>
                            </div>
                            <div>Vértices na Árvore Backtracking: {{backtrackingVerticesCount}}</div>
                            <div>Arestas na Árvore Backtracking: {{backtrackingEdgesCount}}</div>
                        </v-card-text>          
                        </v-card>     
                    </v-container>     

                    <v-container>
                        <v-card
                        elevation="2"
                        >
                            <v-card-title>Execução:</v-card-title>
                            <v-card-text>
                                <div>Passo atual: <strong>{{currentStep + 1}}</strong></div>
                                <div>Passo final: <strong class="clickable" v-on:click="applyAction(logs.length - 1)">{{logs.length - 1}}</strong></div>
                                <div style="display:flex; flex-direction: row">
                                <v-icon v-on:click="applyAction(currentStep - 1)">mdi-skip-previous</v-icon>
                                <v-icon v-on:click="applyAction(currentStep + 1)">mdi-skip-next</v-icon>
                            </div>
                            Operações:
                            <div style="display:flex; flex-direction: row">
                                <v-slider
                                :value="currentStep"
                                thumb-label
                                v-bind:max="logs.length - 1"
                                min="-1"
                                v-on:change="applyAction($event)"
                                ></v-slider>
                            </div>
                            Velocidade (Operações/s):                            
                            <div style="display:flex; flex-direction: row">
                            <v-slider
                            v-model="timer"
                            thumb-label
                            v-bind:max="maxOps"
                            min="0"
                            ></v-slider>
                            </div>
                            Velocidade Máxima (Operações/s):
                            <div style="display:flex; flex-direction: row">
                            <v-text-field
                                v-model="maxOps"
                                hide-details
                                single-line
                                type="number"
                            />
                            </div>       
                            <div>Velocidade Real: {{playbackSpeed.toFixed(2)}}</div>                   
                            </v-card-text>         
                        </v-card>
                    </v-container>               

                    <v-container>        
                        <v-card
                        elevation="2"
                        >             
                            <v-card-title>Logs: <v-checkbox v-model="showLogs"> </v-checkbox></v-card-title> 
                            <v-card-text>Selecione ação para atualizar carregamento parcial da lista</v-card-text>
                            <div v-if="showLogs"
                            id="logs"
                            class="scrollable">                                             
                                <div class="step" v-for="(action) in filteredLogs" v-bind:key="action.index" v-on:click="applyAction(action.index)" v-bind:data-index="action.index"
                                    v-bind:class="{ current: action.index === currentStep }">
                                    {{action.index + 1}}.
                                    <v-chip
                                        class="ma-2"
                                        label
                                    >
                                        {{action.action}}
                                    </v-chip>
                                    <code v-if="action.action === 'set'">
                                        {{action.key}}={{action.value}}
                                    </code>    
                                    <code v-if="action.action !== 'set' && action.value">
                                        {{action.value}}
                                    </code>
                                </div>                            
                            </div>
                        </v-card>                          
                    </v-container>    
                    
                    <v-container>                    
                        <v-card
                        elevation="2"
                        >
                            <v-card-title>Variáveis do Problema:</v-card-title>
                            <v-card-text>
                                <div v-for="(value, name) in problemData">
                                {{name}}: {{value}}
                                </div>
                            </v-card-text>
                        </v-card>     
                    </v-container>  
                    
                    <v-container>                    
                        <v-card
                        elevation="2"
                        >
                            <v-card-title>Análise dos Vértices</v-card-title>
                            <v-card-text>
                                <div>
                                    * Resultados renderizados apenas pela UI:
                                </div>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                      <thead>
                                        <tr>
                                          <th class="text-left">
                                            V
                                          </th>
                                          <th class="text-left">
                                            dsatur(V)
                                          </th>                                          
                                          <th class="text-left">
                                            d(V)
                                          </th>                                       
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr
                                          v-for="(value, name) in adjList"
                                          :key="name"
                                          v-bind:class="{ current: problemData?.indice === name, visited: problemData?.ordenacao?.indexOf(name) < problemData?.i }"
                                        >
                                          <td>{{ name }}{{(isCandidate(name)) ? "*" : ""}}</td>
                                          <td>{{ degreeOfSaturation[name] }}{{isMaxDSATURRestante(name) ? "*" : ""}}</td>                                          
                                          <td>{{ value.length }}{{isMaxDegreeRestante(name) ? "*" : ""}}</td>
                                        </tr>
                                      </tbody>
                                    </template>
                                </v-simple-table>
                                <div>Candidatos em ordem: {{candidates}}</div>
                                <div>Grau Máximo Restante: {{grauMaximoRestante}}</div>
                                <div>Grau DSATUR Máximo Restante: {{maxDSATURRestante}}</div>
                            </v-card-text>
                        </v-card>     
                    </v-container>                    
                    
                    <v-container>                    
                        <v-card
                        elevation="2"
                        >
                            <v-card-title>Cores Disponíveis:</v-card-title>
                            <v-card-text>
                                <div v-for="(value, name) in colors.slice(0, (problemData && problemData.k) ? problemData.k : 0)">
                                {{name}}: <span class="color-preview" v-bind:style="{background: value}"></span>
                                </div>
                            </v-card-text>         
                        </v-card>     
                    </v-container>

                    </div>
                  </v-navigation-drawer>

                <v-main>
                    <div id="cy"></div>
                    <div id="cy-backtracking"></div>                    
                </v-main>
            </v-app>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>    
    <script src="./setup.js"></script>

</html>